body {
    background-color: #d9fdd3;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px 0 20px 40px;
     background-color: #fff4e6;
}

td {
    border: 2px solid orange;
    padding: 8px 12px;
    background-color: lightgreen;
    font-size: 18px;
    text-align: left;
}

h1 {
    text-align: center;
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
}


h2 {
    margin-top: 30px;
    text-align: left;
    color: #333;
    margin-left: 40px;
    margin-bottom: 10px;
}



